@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body{
  font-family: "Open Sans", sans-serif;
	background-color: #000;
}

.hero-overlay{
  /* background-color: rgba(0, 0, 0, 0.6); */
  background-color: rgba(0, 0, 0, 0.75);

}
.card {

  }
  .image {
	opacity: 1;
	display: block;
	width: 100%;
	height: 100%;
	transition: .5s ease;
	backface-visibility: hidden;
	/* color:hsla(0,0%,100%,.75); */
  }
  .card .image{
	transition: all .3s;
	transition-timing-function: ease;

  }
  .middle {
	transition: .5s ease;
	opacity: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -100%);
	-ms-transform: translate(-50%, -50%);
	text-align: center;
  }
  .card:hover .image {
	opacity: 0.4;
  }
  
  .card:hover .middle {
	opacity: 1;
  }
  .b{
    transition: .5s ease;
opacity: 0;
transform: translate(0%, -60%);
	-ms-transform: translate(-50%, -50%);
 
  }
  .card:hover .b{
	opacity: 1;
  }



.card:hover img{
		transform: scale(1.1);
}


  .movieRow {
    margin-bottom: 30px;
 

}
.movieRow h2 {
    margin: 0px 0px 0px 30px;
}
.movieRow--listarea {
    overflow-x: hidden;
    padding-left: 30px;
}
.movieRow--list {
    width: 99999999px;
    transition: all ease 0.5s;
}
.movieRow--item {
    display: inline-block;
    width: 150px;
    /* width: 250px; */
    cursor: pointer;
}
.movieRow--item img {
    width: 100%;
    transform: scale(0.9);
    transition: all ease 0.2s;
}
.movieRow--item img:hover {
    transform: scale(1);
}

  /* .movieRow--item img:hover .mid{
   opacity: 1;
} */

.movieRow--left,
.movieRow--right {
    position: absolute;
    width: 40px;
    height: 225px;

    background-color: rgba(0, 0, 0, 0.6);
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    cursor: pointer;
    opacity: 0;
    transition: all ease 0.5s;
}
.movieRow--left {
    left: 0;
}
.movieRow--right {
    right: 0;
}
.movieRow:hover .movieRow--left, 
.movieRow:hover .movieRow--right{
    opacity: 1;
}

@media (max-width: 760px) {
    .movieRow--left,
    .movieRow--right {
        opacity: 1;
    }
}

header {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  background: transparent;
  transition: all ease 0.5s;
}
header.black {
  background-color: #141414;
}

.search--box, .search--button {
  background-color: transparent;
  height: 30px;
  border-color: transparent;
  color: #fff
}
.header--logo {
  height: 30px;
}
.header--logo img {
  height: 25px;
}
.header--user img {
  height: 100%;
  border-radius: 3px;
}
.header--user {
  height: 35px;
}

.lists {
  /* margin-top: -150px; */
}
footer {
  margin: 50px 0;
  text-align: center;
}
.loading {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 99;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}